.clear {
	clear:both;
}
.left {
	float:left;
}
.section {
	display:none;
	padding:20px;
}
 .loginPage{
 background-image: url('/img/fondo.jpg');
 height:650px;}
 
 .loginDiv{
 padding:10px;
 border-radius: 16px; 
-moz-border-radius: 16px; 
-webkit-border-radius: 16px; 
border: 4px solid #ffffff;
width: 50%;
height: 70%;
background-color:#050000;
display: block; margin-left: auto; margin-right: auto; margin-top: auto;
}
#now-playing {
	font-size:24px;
	margin-bottom:30px;
	line-height: 32px;
}
#now-playing a {
	color:#eeeeee;
}
#player-image {
	margin-right: 10px;
	margin-bottom: 10px;
}
#player-image, #player-image .image {
	float:left;
	height:128px;
	width:128px;
}
#commands {
	margin-bottom:30px;
}
ul {
	list-style: disc;
	margin-left: 20px; 
}
a {
	color:#eeeeee;
}
#search-term {
	width:200px;
}
.examples {
	margin:20px 0;
}
#search-results h2 {
	margin:10px 0 5px;
	color: #999;
	font-weight:bold;
}
#search-results .sp-player {
	float:left;
	margin-right:10px;
}
#search-results .add-playlist {
	margin-top:20px;
}
#search-results .sp-list {
	width:inherit;
	max-height:inherit;
}
#friend-drop {
	text-align:center;
	padding:50px;
	border:1px solid #000;
	background:#333333;
	color:#aaaaaa;
	 border-radius: 16px; 
-moz-border-radius: 16px; 
-webkit-border-radius: 16px; 
	font-size:16px;
	margin-bottom:10px;
	width:500px;
	
}
.leftColumn{
float:left;
width:50%;

}
.rigthColumn {
float:right;
width:50%;

}
.friend-title {
	font-size:24px;
	margin:10px 0;
	line-height: 32px;
	color:#cccccc;
}