blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*- -*/
/*- GENERIC BODY STYLES -*/
html,body {
	height: 100%;
	margin: 0 0 1px;
	padding: 0;
}

body {
	font: 12px/18px Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	
}
.whiteback{
	background:#ffffff;
}

p {
	margin-bottom: 18px;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

#container {
	width: 802px;
	margin: 0 auto;
}
/*- -*/
/*- FILTER OPTIONS -*/
ul#filterOptions {
	width: 802px;
	height: 52px;
	margin: 30px 0;
	overflow: hidden;
}

ul#filterOptions li {
	height: 52px;
	margin-right: 2px;
	display: inline-block;
	float: left;
}

ul#filterOptions li a {
	height: 50px;
	padding: 0 20px;
	border: 1px solid #999;
	background: #cfcfcf;
	color: #fff;
	font-weight: bold;
	line-height: 50px;
	text-decoration: none;
	display: block;
}

ul#filterOptions li a:hover {
	background: #c9c9c9;
}

ul#filterOptions li.active a {
	background: #999;
}
/*- -*/
/*- OUR DATA HOLDER -*/
ul.ourHolder {
	width: 800px;
	height: 100%;
	overflow: hidden;
}

ul.ourHolder li.item {
	width: 200px;
	height: 200px;
	float: left;
	text-align: center;
	overflow: hidden;
	color: #000000;
}

ul.ourHolder li.item h3 {
	margin-top: 10px;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
/*- -*/
.blackText{
	color:#000000;
}
/*- BOTONES-*/
.awesome,.awesome:visited {
	background: #222 url(alert-overlay.png) repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover {
	background-color: #111;
	color: #fff;
}

.awesome:active {
	top: 1px;
}

.small.awesome,.small.awesome:visited {
	font-size: 11px;
	padding:;
}

.awesome,.awesome:visited,.medium.awesome,.medium.awesome:visited {
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.large.awesome,.large.awesome:visited {
	font-size: 14px;
	padding: 8px 14px 9px;
}

.green.awesome,.green.awesome:visited {
	background-color: #91bd09;
}

.green.awesome:hover {
	background-color: #749a02;
}

.blue.awesome,.blue.awesome:visited {
	background-color: #2daebf;
}

.blue.awesome:hover {
	background-color: #007d9a;
}

.red.awesome,.red.awesome:visited {
	background-color: #e33100;
}

.red.awesome:hover {
	background-color: #872300;
}

.magenta.awesome,.magenta.awesome:visited {
	background-color: #a9014b;
}

.magenta.awesome:hover {
	background-color: #630030;
}

.orange.awesome,.orange.awesome:visited {
	background-color: #ff5c00;
}

.orange.awesome:hover {
	background-color: #d45500;
}

.yellow.awesome,.yellow.awesome:visited {
	background-color: #ffb515;
}

.yellow.awesome:hover {
	background-color: #fc9200;
}

img.floatLeft { 
    float: left; 
    margin: 4px; 
}

.hrsep {
  border: 0;
  width: 100%;
  color: #000;
background-color: #000;
height: 5px;
margin-top:10px;
margin-bottom:10px;
}

.borderbottom{
	border-bottom-style: 10px solid black;
	width:850px;
	margin-top:15px;
	margin-bottom:15px;
}